<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>SpotiFach</title>
	<link rel="stylesheet" href="../static/reproductor/reproductor.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nobile">
	<link rel="icon" href="../static/resources/img/logo.png" type="image/icon type">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

	<div class="contenedor-base" id="app">

		<nav class="menu">
			<a class="boton-atras" href="seleccion_genero.html">
				<img src="../static/resources/img/flecha.png" alt="<-" >
			</a>
			<div class="logo">
				<div class="marca">
					<a class="texto-logo">SpotiFach</a>
				</div>
				<div class="imagen">
					<img src="../static/resources/img/logo.png" width="50px">
				</div>
			</div>
		</nav>

		<div class="contenedor-reproductor">

			<a v-on:click="anteriorCancion()" class="arrow"><img class="img-flecha" src="../static/reproductor/img/left.png"/></a>

			<div class="cancion" v-show="indice == index" v-for="(cancion, index) in this.canciones">
				<div class="portada">
					<img class="imagen-portada" :src="cancion.album.urlPortada" width="100%" height="100%">
				</div>
				<p class="texto-nombre">{{cancion.nombre}}</p>


				<div class="artistas-cancion">
					<img src="../static/reproductor/img/mic.png" width="30">
					<a class="texto-artista">{{cancion.artistasMapeados}}</a>
				</div>

				<div class="pista-audio">
					<audio preload="auto" :id="cancion.id" :src="cancion.urlPista"></audio>
				</div>

			</div>

			<a v-on:click="siguienteCancion()" class="arrow"><img class="img-flecha" src="../static/reproductor/img/right.png"/></a>

		</div>
		<div class="botones">

			<a v-on:click="pausarMusica()" class="boton-reproductor boton-pausa-izq"><img src="../static/reproductor/img/pause.png"/></a>
			<a v-on:click="pausarMusica()" class="boton-reproductor boton-pausa-der"><img src="../static/reproductor/img/pause.png"/></a>

			<a v-on:click="reproducirMusica" class="boton-reproductor"><img src="../static/reproductor/img/play.png"/></a>

		</div>

	</div>

	<script src="../static/reproductor/reproductor.js"></script>

</body>
</html>