<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotifach</title>
	<link rel="stylesheet" href="../static/reproductor/reproductor.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nobile">
	<link rel="icon" href="../static/resources/img/logo.png" type="image/icon type">
</head>
<body>

	<div class="contenedor-base" id="app">

		<nav class="menu">
			<a class="boton-atras" href="seleccion_genero.html">
				<div class="boton-redondo" >
					<img src="../static/seleccion_genero/img/flecha.png" width="30px" alt="<-" >
				</div>
			</a>
			<div class="logo">
				<div class="marca">
					<a class="texto-logo">SpotiFach</a>
				</div>
				<div class="imagen">
					<img src="../static/resources/img/logo.png" width="50px">
				</div>
			</div>
		</nav>

	</div>

</body>
</html>